Repository diegoazh/gmap-vue, pull requests merged in 2020-08, with the labels that each got.

#8 feat(gmap-vue): add a heatmap layer component
  packages/gmap-vue/examples/heatmap-layer.html
  packages/gmap-vue/src/components/heatmap-layer.js
  packages/gmap-vue/src/main.js
Labels: core, examples, high, ready for reviewers

#19 feat(gmap-vue): add a drawing manager component
  packages/gmap-vue/examples/drawing-manager.html
  packages/gmap-vue/examples/drawing-manager2.html
  packages/gmap-vue/src/components-implementation/drawing-manager.js
  packages/gmap-vue/src/components/drawing-manager.vue
  packages/gmap-vue/src/main.js
Labels: core, examples, high, ready for reviewers

#45 docs(gmap-vue): fix plugin name in many files
  .gitignore
  package.json
  packages/gmap-vue/README.md
  packages/gmap-vue/examples/gmap-vue.js
  packages/gmap-vue/package.json
Labels: examples

#55 chore(root): add issue and feature templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/issue-close-app.yml
  packages/documentation/package-lock.json
Labels: documentation

#69 docs(documentation): add link between autocompletes examples
  packages/documentation/docs/examples/autocomplete.md
  packages/documentation/docs/examples/basic-autocomplete.md
Labels: documentation
