Repository diegoazh/gmap-vue, pull requests merged in 2022-02, with the labels that each got.

#240 fix(gmap-vue): fix error loading cluster
  packages/documentation/docs/.vuepress/components/eg-marker.vue
  packages/documentation/docs/.vuepress/enhanceApp.js
  packages/gmap-vue/src/main.js
Labels: bug, core, documentation

#241 docs(docs): update link for source code of map element factory
  packages/documentation/docs/README.md
  packages/gmap-vue/README.md
Labels: documentation

#153 docs(gmap-vue): Fix/update initializer comments
  packages/gmap-vue/src/manager/initializer.js
Labels: fix, core

#245 fix(gmap-vue): fix fields error on autocomplete component
  packages/documentation/docs/guide/autocomplete.md
  packages/gmap-vue/src/components/autocomplete-input.vue
Labels: bug, core, documentation

#248 feat(gmap-vue): emit update:position event on markers
  packages/documentation/docs/.vuepress/components/eg-marker.vue
  packages/documentation/docs/guide/marker.md
  packages/gmap-vue/src/components/marker-icon.vue
Labels: feature, core, documentation

#249 feat(gmap-vue): add dynamic loading for google maps api
  packages/documentation/docs/README.md
  packages/gmap-vue/README.md
  packages/gmap-vue/src/main.js
  packages/gmap-vue/src/utils/factories/promise-lazy.js
Labels: feature, core, documentation

#250 feat(gmap-vue): update kml-layer adding all options as props
  packages/documentation/docs/.vuepress/components/eg-kml-layer.vue
  packages/documentation/docs/code/components/kml-layer.md
  packages/documentation/docs/guide/kml-layer.md
  packages/gmap-vue/src/components/kml-layer.vue
  packages/gmap-vue/src/utils/mapped-props-by-map-element.js
Labels: feature, core, documentation

#253 fix(gmap-vue): add missing props to all shapes for drawing over the map
  packages/documentation/docs/code/components/circle-shape.md
  packages/documentation/docs/code/components/polygon-shape.md
  packages/documentation/docs/code/components/polyline-shape.md
  packages/documentation/docs/code/components/rectangle-shape.md
  packages/gmap-vue/src/components/circle-shape.vue
  packages/gmap-vue/src/components/polygon-shape.vue
  packages/gmap-vue/src/components/polyline-shape.vue
  packages/gmap-vue/src/components/rectangle-shape.vue
  packages/gmap-vue/src/utils/mapped-props-by-map-element.js
Labels: enhancement, core, documentation
